* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
}

/* NAVBAR */
  nav {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 0 5vw;
  }

  nav div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav div img {
    height: 40px;
    aspect-ratio: 1;
    margin-right: 1vw;
  }

  nav h3 {
    font-weight: 400;
  }

  nav h2 {
    color: aqua;
  }
/* NAVBAR */

/* MAIN */
  main {
    padding: 12vh 5vw;
    height: 85vh;
    background-color: rgb(32, 32, 32);
    background-image: url(https://cdn.iconscout.com/icon/free/png-256/free-react-2-458175.png?f=webp);
    background-repeat: no-repeat;
    background-position: 195%;
    background-size: 65%;
  }

  main h1 {
    margin-bottom: 5vh;
  }

  ul li {
    margin-bottom: 3vh;
  }

  li::marker {
    color: aqua;
    font-size: 1.5rem;
  }
/* MAIN */




