.js-button {
  background-color: rgb(230, 230, 230);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 15px;
}

.is-toggled {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 15px;
}

