@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Comic Neue';
}

body, html {
  width: 100%;
  height: 100%;
}

main {
  background-color: #010101;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

main section {
  width: 600px;
  aspect-ratio: 16 / 9;

  position: relative;
}

.card {
  width: 30%;
  aspect-ratio: 5 / 7;
  box-shadow: 0 0 2px white;
  border-radius: 10%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card1 {
  left: 45%;
  rotate: -5deg;
}

#card2 {
  left: 50%;
  background-color: wheat;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

#card2 p {
  font-size: 200%;
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

#card3 {
  left: 55%;
  rotate: 5deg;
}

section:hover #card1 {
  left: 25%;
  rotate: -10deg;
}

section:hover #card2 {
  top: 48%;
}

section:hover #card3 {
  left: 75%;
  rotate: 10deg;
  top: 55%;
}

