@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Comic Neue';
}

:root {
  --text: #000000;
  --primary: #fee7d2;
  --accent: #fedcbe;
}

body, html {
  width: 100%;
  height: 100%;
}

main {
  background-color: #060606;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 600px;
}

.buttons {
  height: 100px;
  gap: 30px;
  padding: 0 200px;
  position: relative;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.buttons button {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  cursor: pointer;

  border: 2px #fff solid;
  background-color: transparent;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s, width 0.1s ease-in-out, border-color 0.3s;
}

.buttons button img {
  width: 50%;
}

.buttons button:active {
  width: 65%;
}

.buttons button:nth-child(1):active {
  border-color: red;
}

.buttons button:nth-child(2):active {
  border-color: rgb(0, 174, 255);
}

.buttons button:nth-child(1):hover {
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.4);
}

.buttons button:nth-child(2):hover {
  box-shadow: 0 0 30px rgba(0, 174, 255, 0.4);
}

.slider {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.slides {
  width: 600px;
  aspect-ratio: 16 / 9;
  position: absolute;
  transition: transform 500ms, rotate 500ms;
}

.slides[data-status="active"] {
  transition-delay: 300ms;
}

.slides[data-status="unknown"] {
  transform: scale(0);
}

.slides[data-status="after"] {
  transform: translateX(50%) scale(0) rotate(45deg);
}

.slides[data-status="before"] {
  transform: translateX(-50%) scale(0) rotate(-45deg);
}

.card {
  width: 25%;
  aspect-ratio: 5 / 7;
  box-shadow: 0 0 20px black;
  border-radius: 10%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.3s ease;
  overflow: hidden;
}

.card img, .small-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card1 {
  left: 45%;
  rotate: -5deg;
}

#card2 {
  left: 50%;
  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

#card2 p {
  font-size: 50px;
  color: var(--text);
  -webkit-text-stroke-color: var(--text);
  -webkit-text-stroke-width: 2px;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

#card3 {
  left: 55%;
  rotate: 5deg;
}

.small-card {
  width: 10%;
  aspect-ratio: 5/7;
  background: var(--accent);
  border-radius: 10%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.4s ease-out;
  box-shadow: 0 0 10px black;
  overflow: hidden;
}

.slides:hover #smallCard1 {
  top: 20%;
  left: 35%;
  rotate: -15deg;
}

.slides:hover #smallCard2 {
  top: 25%;
  left: 85%;
  rotate: -10deg;
}

.slides:hover #smallCard3 {
  top: 80%;
  left: 20%;
  rotate: -25deg;
}

.slides:hover #smallCard4 {
  top: 87%;
  left: 80%;
  rotate: 30deg;
}

.slides:hover #card1 {
  left: 30%;
  rotate: -10deg;
}

.slides:hover #card2 {
  top: 45%;
}

.slides:hover #card3 {
  left: 70%;
  rotate: 10deg;
  top: 55%;
}

