.header-content {
  position: relative;
  width: 100%;
  height: 15%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.header-title {
  position: relative;
  left: -100px;

  height: 100%;
  width: 100%;


  opacity: 0;
  transition: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title-name {
  color: white;
  font-size: 34px;
  font-weight: 200;
}

.header-title-prof {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 200;
  margin: 0;

}

.content {
    width: 100%;
    height: 85%;
}

.about-content {
  background-color: #121212;
  width: 100%;
  height: 100%;

  border-radius: 50px;

}